{% extends 'layouts/common.twig' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="indexTwig">
        indexTwig
        {{ this.svg('arrow') }}
    </div>
{% endblock %}